@media (max-width: 1180px) {

    header{
        height: 80px;
        align-items: center;
    }

    #favi{
        width: 60px;
        height: 60px;
    }

    h1{
        font-size: 250%;
    }

    .menu-button-container {
      display: flex;
    }
    .Navigationlist {
      position: absolute;
      top: 0;
      margin-top: 80px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .Navigationlist li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
    }
    #menu-toggle:checked ~ .Navigationlist li {
      height: 40px;
      padding: 1%;
    }
    .Navigationlist > li {
      display: flex;
      justify-content: center;
      width: 98%;
      opacity: 0.85;
      background-color: rgb(243, 222, 151);
    }
    .Navigationlist > li:not(:last-child) {
      border-bottom: 1px solid rgb(255, 255, 255);
    }

    .img-scroll{
        height: 100px;
        width: 100px;
    }

    .scroll{
        margin-left: 10px;
        margin-right: 10px;
        margin-top:85px;
        display: flex;
        min-height: 100px;
        height: 140px;
        position: relative;
    }

    main{
        display: flex;
        flex-direction: column-reverse;
        justify-content: left;
        align-items: start;
        flex-wrap: wrap;
        max-width: 100vw;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        word-break: break-all;
        text-align: justify;
        text-indent: 2%;
        font-style: oblique;
    }

    main > article{
        margin-right: 10px;
        width: 100%;
    }
    
    aside{
        display: flex;
        justify-content: center;
        position: static;
        top: 120px;
        background-color: rgb(0, 0, 0);
        max-width: 100vw;
        width: 100%;
    }
    aside > ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        margin: 0;
        padding: 0;
    }
    aside > h3 {
        width: 80px;
        color: #eee;
        font-family: 'Oswald';
    }
    aside > ul > li > a{
        font-family: 'Oswald';
        text-decoration: none;
        align-items: center;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        white-space: nowrap;
        width: 100%;
        color: #eee;
    }
}